.deck {
    background-color: rgba(144, 186, 144, 1); 
    padding: 10px 20px; 
    border-radius: 10px; 
    margin: 10px 0px; 
    width: 400px; 
}

.deck a {
    text-decoration: none; 
    color: black; 
}

.deck:hover {
    padding: 12px 22px; 
    box-shadow: black; 
}