
/* Welcome, TestUser! */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#target-language-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label[for="target-language-dropdown"] {
    font-size: 15px;
    font-weight: 500;
}

.styled-select {
    width: 360px;
    background-color: #F5F5F8; 
    padding: 12px 16px; 
    border-radius: 8px; 
    border: 1px solid #d0d5dd;
    font-family: Inter, sans-serif;
    font-size: 14px; 
    cursor: pointer; 
}

.deck {
    background-color: rgba(144, 186, 144, 1); 
    padding: 10px; 
    border-radius: 10px; 
    margin: 0;
    width: 160px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deck-grid {
    display: grid;
    align-self: stretch;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
    grid-auto-flow: row;
    row-gap: 16px;
    column-gap: 36px;
    justify-content: start;
}

.deck a {
    text-decoration: none; 
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.deck-title {
    font-weight: 600;
}

.deck-count {
    font-weight: 400;
}

.deck:hover {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* if you're looking for the block class that holds temporary centering styles, I moved it to main.css so it could be used in more places*/