{% extends 'base.html' %}

{% load static %}

{% block title %}Flashcards{% endblock %}

{% block content %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'flashcards.css' %}">
{% endblock extra_css %}

<!--I think the header tags got lost somewhere...-->

    <h3>{{deck_info.name_in_lang}} ({{deck_info.name}})</h3>

    {% if card %}
      <div class="card-stack">
        <div class="card stack-back"></div>
        <div class="card stack-mid"></div>
        <div class="card clickable-card" onclick="flipCard()">
          <button class="speaker-btn" id="speakerBtn" title="Hear the word">
            <img src="{% static 'speaker_icon.svg' %}" alt="Speaker icon">
          </button>
          <div class="card-front">
            <h2 class="card-word">{{ card.card_id.term }}</h2>
            <p class="card-phonetic">{{ card.card_id.phonetic }}</p>
          </div>
          <div class="card-back hidden">
            <p class="card-definition">{{ card.card_id.definition }}</p>
          </div>
        </div>
      </div>
    {% else %}
      <p>No cards to review.</p>
      <a href="/" class="button-link">Go home</a>
    {% endif %}

 <!-- Need to make buttons like Anki's -->
  <!--rn this 100% doesn't follow best-conventions-->
  {% if card %}
  <form action="{% url 'flashcards:review_card' %}" method="post" class="hidden review-buttons" id="difficulty-buttons">
    <!--security thing so db doesn't get mad-->
    {% csrf_token %}
    <input type="hidden" name="card_id" value="{{ card.card_id.card_id }}"> <!--this is the id for the cardtouser object which is the object storing a specific card's data for a specific user-->
    <button type="submit" name="rating" value="again">Again: {{review_intervals.again}}</button>
    <button type="submit" name="rating" value="hard">Hard: {{review_intervals.hard}}</button>
    <button type="submit" name="rating" value="good">Good: {{review_intervals.good}}</button>
    <button type="submit" name="rating" value="easy">Easy: {{review_intervals.easy}}</button>
  </form>
  {% endif %}

  <script src="{% static 'flashcards.js' %}"></script>
{% endblock content %}